%mulish-medium {
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
}

%mulish-semibold {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}

%mulish-bold {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}

%mulish-extrabold {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
}

$primary-color: #664B42;
$secondary-color: #FD9F32;
$contacts-color: #F4EEE5;
$border-color: #A4A4A4;
$title-color: #B69D86;

$secondary-bg: #F7F7F7;
$inputs-bg: #F2EDE6;

$white: #fff;