@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
    background-color: $secondary-bg;

    &__wrapper {
        max-width: 1482px;
        margin: 0 auto;
        padding-top: 30px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__top-left,
    &__top-right {
        width: 580px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border-color;
        padding-bottom: 5px;
    }

    &__top-left {
        justify-content: start;
    }

    &__top-right {
        justify-content: end;
    }

    &__top-center {
        padding: 0 31px;
    }

    &__btn {
        display: none;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        outline: none;
        padding: 0;
        cursor: pointer;

        &::before {
            content: "";
            width: 24px;
            height: 2px;
            background-color: #A28276;
            display: block;
            margin-bottom: 4px;
            transition: transform .3s;
        }

        &::after {
            content: "";
            width: 24px;
            height: 2px;
            background-color: #A28276;
            display: block;
            margin-bottom: 4px;
            transition: transform .3s;
        }
    }

    &__btn.header__btn-active::before {
        transform: translateY(6px) rotate(-135deg);
    }

    &__btn.header__btn-active::after {
        width: 24px;
        transform: translateY(-6px) rotate(135deg);
    }

    &__btn-active .header__btn-line {
        opacity: 0;
    }

    &__menu-list.header__menu-active {
        transform: translateY(0%);
    }

    &__search-active {
        opacity: 1 !important;
    }

    &__btn-line {
        display: block;
        background-color: #A28276;
        width: 24px;
        height: 2px;
        margin-bottom: 4px;
        opacity: 1;
        transition: .5s;
    }

    &__tel {
        margin-right: 127px;
        @extend %mulish-extrabold;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: -0.01em;
        transition: all .3s;

        &:hover {
            color: $secondary-color;
        }

        svg {
            display: none;
            transition: all .3s;
        }

        &:hover.header__tel svg {
            fill: $secondary-color;
        }
    }

    &__search {
        margin-right: 24px;
    }

    &__cart {
        position: relative;

        &::before {
            content: "0";
            @extend %mulish-bold;
            text-align: center;
            font-size: 14px;
            line-height: 18.2px;
            position: absolute;
            width: 20px;
            height: 20px;
            right: 0;
            bottom: 0;
            left: 12px;
            top: 9px;
            background-image: url('../images/cart-num.svg');
            padding: 0.6px;
        }
    }

    &__logo img {
        margin-bottom: -23px;
    }

    &__language {
        margin-right: 181px;
    }

    &__social-item {
        display: inline-block;
    }

    &__social-link {
        display: block;
        width: 24px;
        height: 24px;
        background-image: url('../images/social-sprite.png');
        margin-right: 8px;
        transition: all .3s;

        &:hover {
            opacity: .8;
        }

        &.instagram {
            background-position: -32px 0;
        }

        &.message {
            background-position: -64px 0;
        }

        &.telegram {
            background-position: -96px 0;
        }

        &.vk {
            background-position: -128px 0;
        }
    }

    &__language {
        position: relative;

        &-arrow {
            position: absolute;
            width: 10px;
            height: 8px;
            right: 0;
            bottom: 0;
            left: 23px;
            top: 0px;
            background-image: url('../images/select-arrow.svg');
            cursor: pointer;
        }

        select {
            position: absolute;
            top: -4px;
            border: none;
            appearance: none;
            background: $secondary-bg;
            width: 80px;
            font-size: 16px;
            line-height: 20.8px;
            cursor: pointer;
        }
    }

    &__menu-list {
        position: relative;
        max-width: 955px;
        margin: 0 auto;
        margin-top: 37px;
        padding: 0 83px;
        border-radius: 8px;
        text-align: center;
        background-color: $white;

    }

    &__menu-item {
        display: inline-block;
        padding: 12px 0;

        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    &__menu-link {
        position: relative;
        @extend %mulish-bold;
        font-size: 18px;
        line-height: 21.6px;
        letter-spacing: -0.01em;
        transition: all .3s;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            border-bottom: 2px solid $secondary-color;
            bottom: -9px;
            left: 0;
            right: 0;
            opacity: 0;
            transition: all .3s;
            z-index: 1;
        }

        &:hover.header__menu-link::before {
            opacity: 1;
            animation: .5s in-out forwards;
        }

        &:hover {
            color: $secondary-color;
        }
    }

    &__sub {

        &:hover>.header__submenu {
            display: flex;
        }

    }

    &__submenu {
        position: absolute;
        left: 0;
        bottom: -133px;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 136px;
        background-color: $white;
        border-radius: 0 0 8px 8px;
        padding-top: 40px;
        display: none;
        z-index: 999;
    }

    &__submenu-link {
        position: relative;
        transition: all .3s;

        &::before {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            top: 3px;
            right: -21px;
            bottom: 0;
            background-image: url('../images/arrow.svg');
            transition: all .3s;
            opacity: 0;
        }

        &:hover {
            color: $secondary-color;
        }

        &:hover.header__submenu-link::before {
            opacity: 1;
        }
    }

    &__submenu-link:first-child {

        &::after {
            content: '';
            position: absolute;
            width: 32px;
            height: 32px;
            top: -35px;
            right: 0;
            left: 57px;
            bottom: 0px;
            background-image: url('../images/factory.svg');
        }
    }

    &__submenu-link:nth-child(2) {

        &::after {
            content: '';
            position: absolute;
            width: 32px;
            height: 32px;
            top: -35px;
            right: 0;
            left: 63px;
            bottom: 0px;
            background-image: url('../images/history.svg');
        }
    }

    &__submenu-link:nth-child(3) {

        &::after {
            content: '';
            position: absolute;
            width: 32px;
            height: 32px;
            top: -35px;
            right: 0;
            left: 30px;
            bottom: 0px;
            background-image: url('../images/document.svg');
        }
    }

    &__submenu-link:last-child {

        &::after {
            content: '';
            position: absolute;
            width: 32px;
            height: 32px;
            top: -35px;
            right: 0;
            left: 33px;
            bottom: 0px;
            background-image: url('../images/camera.svg');
        }
    }
}

.language-arrow-active {
    transform: rotate(180deg);
}

.about {
    position: relative;
    background-color: $secondary-bg;

    &__inner {
        margin-right: 68px;
    }

    &__top {
        text-align: left;
        padding: 65px 0 17px 240px;
    }

    &__title {
        @extend %mulish-extrabold;
        font-size: 55px;
        line-height: 52.25px;
        color: $title-color;

        span {
            color: $secondary-color;
        }
    }

    &__bottom {
        display: flex;
        padding-bottom: 249px;
    }

    &__info {
        max-width: 485px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__video {
        max-width: 420px;
        margin-bottom: 50px;
        cursor: pointer;
    }

    &__info-bottom {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
            margin-right: 14px;
        }

        a {
            margin-left: auto;
            color: $secondary-color;
        }
    }

    &__info-bottom a {
        @extend %mulish-bold;
        font-size: 18px;
        line-height: 21.6px;
        position: relative;
        transition: all .3s;
        margin-top: 30px;

        svg {
            transition: all .3s;
            fill: $secondary-color;
        }

        &:hover {
            color: $primary-color;
        }

        &:hover.about__info-link svg {
            fill: $primary-color;
        }
    }

    &__info-title {
        @extend %mulish-bold;
        font-size: 26px;
        line-height: 28.6px;
        text-align-last: left;
        margin-bottom: 20px;
        color: #50220F;
    }

    &__info-desc {
        font-size: 16px;
        line-height: 20.8px;
        margin-bottom: 20px;
        color: #776157;
        text-align-last: left;
    }

    &__info-podpis {
        color: #776157;
        font-size: 14px;
        line-height: 22px;

        span {
            color: #50220F;
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__slider {
        max-width: 1172px;
        margin-right: 69px;
        margin-top: 33px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 197px;
            height: 252px;
            top: -235px;
            left: 17px;
            background-image: url('../images/melnic.png');
            background-repeat: no-repeat;
            z-index: 999;
        }
    }

    &__slider-item {
        position: relative;
        height: 481px;
        padding: 129px 0 0 86px;
        background-size: contain;
        background-repeat: no-repeat;

        &.slide-one {
            background-image: url('../images/slide-01.png');
        }

        &.slide-two {
            background-image: url('../images/slide-01.png');
        }

        &.slide-three {
            background-image: url('../images/slide-01.png');
        }
    }

    &__slider-title {
        @extend %mulish-extrabold;
        font-size: 36px;
        line-height: 36px;
        max-width: 560px;
        margin-bottom: 16px;
    }

    &__slider-desc {
        @extend %mulish-semibold;
        font-size: 22px;
        line-height: 26.4px;
        margin-bottom: 32px;
        max-width: 437px;
    }
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: $secondary-color;
    font-size: 40px;
}

.slick-dots li button:before {
    opacity: 1;
    color: $title-color;
    font-size: 40px;
}

.slick-active {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        top: -5px;
        left: -5px;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        border: 0.5px solid $secondary-color;
    }
}

.slick-dots {
    position: absolute;
    top: 60px;
    display: block;
    left: 32px;
    width: 200px;
    height: 50px;
    margin: 0px;
    list-style: none;
    text-align: center;
}

.products {
    margin: -111px 0px 0px 0px;
    position: relative;
    z-index: 2;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        background-image: url('../images/products-bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 8px;
        transition: all .3s;
        position: relative;
        z-index: 2;

        &::before {
            content: "";
            position: absolute;
            width: 252px;
            height: 135px;
            top: 128px;
            right: 17px;
            background-image: url('../images/products-ellipse.png');
            background-repeat: no-repeat;
            z-index: -1;
        }

        &:hover .products__item-title {
            color: $secondary-color;
        }

        &:hover .products__item-title svg {
            opacity: 1;
            width: auto;
        }
    }

    &__item-title {
        @extend %mulish-bold;
        font-size: 26px;
        line-height: 28.6px;
        text-align: center;
        margin: 32px 0;
        transition: all .3s;

        svg {
            transition: all 1s;
            opacity: 0;
            width: 0;
        }
    }

    img {
        margin: 0 27px 0 26px;
    }
}

.production {

    &__title {
        @extend %mulish-extrabold;
        font-size: 44px;
        line-height: 44px;
        text-align: center;
        padding: 140px 191px 30px 0;
    }

    &__one-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 140px;
    }

    &__one-left {
        max-width: 446px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 467px;
            height: 147px;
            top: -184px;
            left: 204px;
            background-image: url('../images/products-line-01.svg');
            background-repeat: no-repeat;
        }

        &::before {
            content: '';
            position: absolute;
            width: 777px;
            height: 241px;
            bottom: -339px;
            right: -537px;
            background-image: url('../images/products-line-02.svg');
            background-repeat: no-repeat;
            z-index: -1;
        }
    }

    &__one-right {
        max-width: 928px;
    }

    &__one-title {
        @extend %mulish-extrabold;
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 16px;
    }

    &__one-desc {
        margin-bottom: 50px;
    }

    &__two {
        display: flex;
        justify-content: center;
        background-image: url('../images/production-bg.png');
        background-repeat: repeat-x;
    }

    &__two-right {
        padding-left: 141px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__two-title {
        @extend %mulish-extrabold;
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 16px;
    }

    &__two-desc {
        @extend %mulish-medium;
        font-size: 18px;
        line-height: 21.6px;
    }

    &__two-left {
        margin-left: -112px;
    }

    &__three-wrapper {
        display: flex;
        flex-direction: column;
        padding: 140px 155px 138px 0;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 777px;
            height: 314px;
            top: 0;
            left: 423px;
            background-image: url('../images/products-line-03.svg');
            background-repeat: no-repeat;
        }

        &::after {
            content: "";
            position: absolute;
            width: 777px;
            height: 261px;
            bottom: -52px;
            left: 420px;
            background-image: url('../images/products-line-04.svg');
            background-repeat: no-repeat;
            z-index: -1;
        }
    }

    &__three-top {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-bottom: 40px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 102px;
            bottom: 11px;
            left: 421px;
            background-image: url('../images/products-line-05.svg');
            background-repeat: no-repeat;
        }

        &::after {
            content: "";
            position: absolute;
            width: 174px;
            height: 38px;
            top: 168px;
            right: 216px;
            background-image: url('../images/products-line-06.svg');
            background-repeat: no-repeat;
        }
    }

    &__three-bottom {
        display: flex;
        justify-content: end;
    }

    &__three-title {
        @extend %mulish-extrabold;
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 16px;
    }

    &__three-desc {
        max-width: 446px
    }

    &__three-right {
        background-image: url('../images/pr-bg-01.png');
        background-repeat: no-repeat;
        max-width: 240px;
        padding: 25px 22px 25px 23px;
        margin-left: 85px;
        margin-top: -244px;
    }

    &__three-subtitle {
        @extend %mulish-bold;
        font-size: 18px;
        line-height: 21.6px;
        margin-bottom: 8px;
    }

    &__three-text {
        font-size: 14px;
        line-height: 16px;
    }

    &__three-item {
        max-width: 406px;

        &:not(:last-child) {
            margin-right: 40px;
        }

        &:last-child {
            max-height: 431px;
        }

        img {
            margin-bottom: 23px;
        }

        .item__title {
            @extend %mulish-bold;
            font-size: 26px;
            line-height: 28.6px;
            margin-bottom: 10px;
        }
    }

    &__four {
        padding-bottom: 127px;
    }

    &__four-top {
        display: flex;
        justify-content: center;
        background-image: url('../images/production-bg-02.png');
        background-repeat: repeat-x;
    }

    &__four-right {
        padding-left: 145px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__four-left {
        margin-left: -112px;
    }

    &__four-title {
        @extend %mulish-extrabold;
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 16px;
    }

    &__four-desc {
        max-width: 446px;
    }

    &__four-right {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 116px;
            height: 116px;
            bottom: 38px;
            left: 504px;
            background-image: url('../images/products-line-07.svg');
            background-repeat: no-repeat;
        }
    }

    &__four-bottom {
        background-image: url('../images/pr-bg-02.png');
        background-repeat: no-repeat;
        padding: 38px 21px 38px 22px;
        max-width: 286px;
        position: absolute;
        bottom: -138px;
        right: 150px;
    }

    &__four-subtitle {
        @extend %mulish-bold;
        font-size: 18px;
        line-height: 21.6px;
        margin-bottom: 8px;
    }

    &__four-text {
        font-size: 14px;
        line-height: 16.8px;
    }

    &__five-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__five-top {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 140px 0 120px 0;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 777px;
            height: 374px;
            top: -117px;
            left: 80px;
            background-image: url('../images/products-line-08.svg');
            background-repeat: no-repeat;
            z-index: -1;
        }

        &::after {
            content: "";
            position: absolute;
            width: 520px;
            height: 220px;
            bottom: -6px;
            left: 82px;
            background-image: url('../images/products-line-09.svg');
            background-repeat: no-repeat;
        }
    }

    &__five-left {
        max-width: 446px;
        margin-right: 8px;
    }

    &__five-title {
        @extend %mulish-extrabold;
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 16px;
    }

    &__five-desc {
        margin-bottom: 50px;
    }
}

.production-bottom {
    position: relative;

    &__one {
        text-align: center;
        max-width: 446px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    &__one-title {
        @extend %mulish-extrabold;
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 16px;
    }

    &__one-desc {
        padding: 0 10px;
    }

    &__two {
        text-align: center;
        margin: 0 auto;
        padding-top: 38px;
        margin-bottom: 50px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 1172px;
            height: 2px;
            bottom: 0;
            left: 353px;
            background-image: url('../images/products-line-10.svg');
            background-repeat: no-repeat;
        }
    }

    &__two-title {
        @extend %mulish-bold;
        font-size: 26px;
        line-height: 28.6px;
        margin-bottom: 20px;
    }

    &__two-subtitle {
        @extend %mulish-semibold;
        font-size: 22px;
        line-height: 26.4px;
        margin-bottom: 50px;
    }

    &__three {
        text-align: center;
        margin: 0 auto;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 2px;
            height: 102px;
            bottom: -106px;
            left: 966px;
            background-image: url('../images/products-line-11.svg');
            background-repeat: no-repeat;
        }
    }

    &__three-title {
        @extend %mulish-bold;
        font-size: 26px;
        line-height: 28.6px;
        margin-bottom: 20px;
    }

    &__three-box {
        display: flex;
        justify-content: center
    }

    &__three-text {
        @extend %mulish-semibold;
        font-size: 22px;
        line-height: 26.4px;
        text-align: center;
    }

    &__three-text:first-child {
        margin-right: 107px;
        margin-top: -7px;
    }

    &__three-text:nth-child(2) {
        margin-right: 103px;
        margin-top: -31px;
    }

    &__three-text:last-child {
        margin-top: 0;
    }

    &__four {
        text-align: center;
        margin: 0 auto;
        margin-top: 140px;
        max-width: 446px
    }

    &__four-title {
        @extend %mulish-extrabold;
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 16px;
    }

    &__four-desc {
        margin-bottom: 50px;
    }

    &__container {
        background-image: url('../images/map-bg.png'), url('../images/map.jpg');
        background-repeat: repeat, no-repeat;
        background-position: center;
        height: 841px;
        width: 1750px;
    }
}

.wrapper-bottom {
    position: relative;
    background-color: $primary-color;
    background-image: url('../images/contacts-bg-01.png'), url('../images/contacts-bg-02.png');
    background-repeat: no-repeat;
    background-position: 0% 36%, 100% 36%;
}

.contacts {
    padding: 81px 213px 79px 150px;


    &__inner {
        display: flex;
        justify-content: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-right: 149px;
    }

    &__title {
        @extend %mulish-extrabold;
        font-size: 36px;
        line-height: 36px;
        color: $contacts-color;
        margin-bottom: 32px;
    }

    &__info-desc {
        color: $contacts-color;
        max-width: 317px;
        margin-bottom: 40px;
    }

    &__desc {
        color: $contacts-color;
        margin-bottom: 8px;
    }

    &__tel {
        @extend %mulish-bold;
        font-size: 26px;
        line-height: 28.6px;
        color: $secondary-color;
        transition: all .3s;

        &:hover {
            color: $contacts-color;
        }
    }

    &__form-top {
        display: flex;
        margin-bottom: 32px;
    }

    &__form-inputs {
        display: flex;
        flex-direction: column;
        margin-right: 45px;
    }

    &__form-input {
        @extend %mulish-semibold;
        font-size: 22px;
        line-height: 26.4px;
        background-color: $contacts-color;
        border: none;
        border-radius: 4px;
        width: 392px;
        height: 58px;
        padding: 16px 40px 16px 40px;

        &::placeholder {
            color: $primary-color;
            opacity: .5;
            @extend %mulish-semibold;
            font-size: 22px;
            line-height: 26.4px;
        }

        &:active,
        &:focus {
            border: none;
            outline: none;
        }
    }

    &__form-input:not(:last-child) {
        margin-bottom: 32px;
    }

    &__form-textarea {
        @extend %mulish-semibold;
        font-size: 22px;
        line-height: 26.4px;
        background-color: $contacts-color;
        border: none;
        border-radius: 4px;
        width: 430px;
        height: 238px;
        padding: 16px 40px 0 40px;

        &::placeholder {
            color: $primary-color;
            opacity: .5;
            @extend %mulish-semibold;
            font-size: 22px;
            line-height: 26.4px;
        }

        &:active,
        &:focus {
            border: none;
            outline: none;
        }
    }

    &__form-bottom {
        display: flex;
        flex-direction: column;
    }

    &__form-label {
        @extend %mulish-semibold;
        font-size: 22px;
        line-height: 26.4px;
        color: $white;
        margin-bottom: 50px;
        margin-left: 37px;
        display: flex;
        align-items: center;
    }

    &__form-check {
        position: relative;

        &:before {
            content: "";
            display: inline-block;
            width: 24px;
            height: 24px;
            position: absolute;
            left: -37px;
            bottom: -10px;
            background-color: $secondary-color;
            border: 2px solid $white;
            border-radius: 4px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__form-checkbox {
        display: none;

        &:checked+.contacts__form-check:before {
            background-image: url('../images/ok.svg');
        }
    }

    &__form-link {
        text-decoration: underline;
        transition: all .3s;

        &:hover {
            color: $secondary-color;
        }
    }

    &__form-btn {
        max-width: 200px;
    }
}

.footer {
    background-image: url('../images/footer-bg.png');
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
    padding: 54px 85px 0 85px;

    &__top {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        max-height: 310px;
    }

    &__logo {
        order: 0;
        width: 20%;
        margin-bottom: 57px;
    }

    &__adress {
        order: 1;
        width: 20%;
    }

    &__adress-text {
        @extend %mulish-semibold;
        font-size: 22px;
        line-height: 26.4px;
        max-width: 295px;
        display: block;
        position: relative;
        color: #50220F;
        margin-left: 23px;
        transition: all .3s;

        &:hover {
            color: $secondary-color;
        }

        &::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 30px;
            left: -27px;
            top: -10px;
            background-image: url('../images/location.svg');
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
        margin-top: 44px;
        order: 1;
        width: 60%;
    }

    &__nav-production {
        margin-right: 100px;
    }

    &__nav-title {
        @extend %mulish-bold;
        font-size: 26px;
        line-height: 28.6px;
        margin-bottom: 24px;
    }

    &__nav-item:not(:last-child) {
        margin-bottom: 16px;
    }

    &__nav-list {
        position: relative;
    }

    &__nav-link {
        font-size: 16px;
        line-height: 20.8px;
        text-decoration: underline;
        transition: all .3s;

        &:hover {
            color: $secondary-color;
        }
    }

    &__nav-about {
        margin-right: 100px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        order: 2;
        width: 20%;
        margin-bottom: 16px;
    }

    &__tel {
        @extend %mulish-bold;
        font-size: 26px;
        line-height: 28.6px;
        margin-bottom: 8px;
        transition: all .3s;

        &:hover {
            color: $secondary-color;
        }
    }

    &__mail {
        @extend %mulish-semibold;
        font-size: 22px;
        line-height: 26.4px;
        transition: all .3s;

        &:hover {
            color: $secondary-color;
        }
    }

    &__social {
        display: flex;
        flex-direction: column;
        order: 4;
        width: 20%;
    }

    &__social-items {
        margin-bottom: 24px;
    }

    &__social-item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__social-link {
        display: block;
        width: 32px;
        height: 32px;
        background-image: url('../images/social-sprite-02.png');
        transition: all .3s;

        &:not(:last-child) {
            margin-right: 20px;
        }

        &:hover {
            opacity: .8;
        }

        &.vk {
            background-position: -52px 0;
        }

        &.instagram {
            background-position: -104px 0;
        }

        &.message {
            background-position: -156px 0;
        }

        &.youtube {
            background-position: -208px 0;
        }
    }

    &__social-sale {
        padding-left: 35px;
        transition: all .3s;

        svg {
            transition: all .3s;
            fill: $primary-color;
        }

        &:hover {
            color: $secondary-color;
        }

        &:hover.footer__social-sale svg {
            fill: $secondary-color;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        padding: 48px 0;
    }

    &__bottom-text {
        margin: 0;
    }

    &__bottom-link {
        transition: all .3s;
        color: $secondary-color;

        svg {
            transition: all .3s;
            fill: $secondary-color;
        }

        &:hover {
            color: $primary-color;
        }

        &:hover.footer__bottom-link svg {
            fill: $primary-color;
        }
    }
}


@import "media";